<?php
/** @var $block Magento\Framework\View\Element\Template */

$blogViewModel = $block->getData('viewModel');
?>
<div class="blog-container"
     data-bind="scope: 'blog'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "blog": {
                        "component": "Test_Blog/js/blog",
                        "posts": <?= $blogViewModel->getPostsJson(); ?>
                    }
                }
            }
        }
    }
</script>
