<table>
    <tr>
        <th class="stores-id">id</th>
        <th class="stores-name">name</th>
        <th class="stores-description">description</th>
        <th class="stores-address">address</th>
        <th class="stores-work_schedule">work_schedule</th>
    </tr>
    <!-- ko foreach: {data: storesList, as: 'item'} -->
<!--    <tr data-bind="attr: {id: item.id}">-->
<!--        <td data-bind="text: item.id"></td>-->
<!--        <td data-bind="text: item.name"></td>-->
<!--        <td data-bind="text: item.description"></td>-->
<!--        <td data-bind="text: item.address"></td>-->
<!--        <td data-bind="text: item.work_schedule"></td>-->
<!--    </tr>-->
    <!-- /ko -->
</table>
