<?php
/** @var Practice\Stores\Block\Index $block */

?>
<table class="store-table table">
    <thead>
    <tr>
        <th class="store-id" scope="col">Id</th>
        <th class="store-name"scope="col">Name</th>
        <th class="store-description" scope="col">Image</th>
        <th class="store-description" scope="col">Description</th>
        <th class="store-address" scope="col">Address</th>
        <th class="store-address" scope="col">Work Schedule</th>
        <th class="store-address" scope="col">Longitude</th>
        <th class="store-address" scope="col">Latitude</th>
    </tr>
    </thead>
    <tbody>
        <?php
            foreach ($block->getStoresCollection() as $store) : ?>
                <tr>
                    <td><?php echo $store->getId() ?></td>
                    <td><a href="<?php echo $this->getUrl('shop/index/view', ['id' => $store->getId()]) ?>"><?php echo $store->getName() ?></a></td>
                    <td>
                        <?php
                        if (empty($store->getImage())) :
                            echo __("No image");
                        else : ?>
                            <img src="<?php echo $block->getStoreImageUrl($store); ?>" alt="<?= $store->getStoreName(); ?>" width="50%" >
                        <?php endif; ?>
                    </td>
                    <td><?php echo $store->getDescription() ?></td>
                    <td><?php echo $store->getAddress() ?></td>
                    <td><?php echo $store->getData('work_schedule') ?></td>
                    <td><?php echo $store->getLongitude() ?></td>
                    <td><?php echo $store->getLatitude() ?></td>
                </tr>
            <?php endforeach; ?>
    </tbody>
</table>
<?php if ($block->getPagerHtml()): ?>
    <div class="order-products-toolbar toolbar bottom">
        <?php echo $block->getPagerHtml(); ?>
    </div>
<?php endif ?>
</body>
</html>
