<?php
/** @var Practice\Stores\Block\View $block */
$store = $block->getStoreInformation();
?>
<div class="">
    <?php echo $store->getDescription() ?> <br>
    <?php
    if (empty($store->getImage())) :
        echo __("No image");
    else : ?>
        <img src="<?php echo $block->getStoreImageUrl($store); ?>" width="30%" height="30%" alt="<?= $store->getStoreName(); ?>">
    <?php endif; ?>
    <hr>
    <p><?php echo $store->getAddress(); ?></p>
    <p><?php echo __('Longitude: ') . $store->getLongitude(); ?></p>
    <p><?php echo __('Latitude: ') . $store->getLatitude(); ?></p>
    <h4><?php echo __('Work Schedule:'); ?></h4>
    <p><?php echo $store->getWorkSchedule(); ?></p>
</div>

<div style="width: 100%">
    <iframe width="100%"
            height="600"
            frameborder="0"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=<?php echo $store->getAddress();?>&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">

    </iframe>
</div>
