.blog-container ul {
    margin: 0;
    padding: 0;
    list-style: none none;
}

.blog-container .post-container{
    margin: 20px 0;
    display: block;
    background-color: rgba(255,255,0,0.2);
    border: 1px solid #cccccc;
}

.blog-container .post-container .post-image {
    min-height: 200px;
    background-color: #ccc;
}

.blog-container .post-container .post-container__content {
    margin: 10px;
}

.blog-container .post-container .post-meta {
    display: flex;
}
.blog-container .post-container .post-meta .post-meta__author {
    flex: 1;
    text-align: right;
    color: gray;
    font-weight: lighter;
}

